@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  color: #1a1b1f;
  height: 100%;
  width: 100%;
  font-family: Hind Vadodara;
}

body {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.smoothScroll {
  transition: 1s;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scroll-snap-type: y mandatory;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
  outline: none;
}

.padding {
  @apply px-12 xl:px-64;
}

.gap-y {
  @apply gap-y-20 md:gap-y-28
}

.copy-h2 {
  @apply text-[28px] md:text-[64px] leading-none font-bebasNeue;
}

.copy-p {
  @apply text-[16px] md:text-[32px];
}

.copy-body {
  @apply text-[18px] md:text-[40px] text-justify;
}